<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>장바구니</title>
</head>
<body>
    <h1>장바구니</h1>
    {% for item in order_items %}
        {{ item.product }} - {{ item.price.size }}, {{ item.quantity }}개 | {{ item.price.price }} 원
        <!-- "제거" 버튼 추가 -->
        <form action="{% url 'cart:remove_item' order_id item.id %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit">제거</button>
        </form>
        <br>
    {% endfor %}
    <p>총 금액: {{ total_price }}</p>
    <a href="{% url 'order:payment' order_id %}">결제하기</a>
    <a href="{% url 'order:product_list' %}">더 담으러 가기</a>
</body>
</html>