{% extends "base.html" %}

{% block content %}
<div class="container mx-auto px-4 py-8">
    <div class="flex justify-center items-center min-h-screen">
        <div class="bg-white dark:bg-gray-800 p-6 rounded-lg shadow-lg">
            <img src="{{ product.image_url }}" alt="Product Image" class="w-full h-auto object-cover rounded-lg" />
            <h2 class="text-center text-2xl font-semibold mt-4 text-gray-800 dark:text-white">{{ product.product }}</h2>
            <hr class="my-2 border-gray-300">
            <p class="text-sm text-gray-600 dark:text-gray-400 mt-3 max-w-md overflow-auto">
                {{ product.description }}
            </p>
            <div class="flex justify-center mt-4">
                <table class="w-44">
                    {% for p in price %}
                    <tr>
                        <td class="text-base text-gray-600 dark:text-gray-400 py-2">{{ p.size }}</td>
                        <td class="text-base text-gray-600 dark:text-gray-400 py-2 text-center">{{ p.price }}원</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <form method="post" class="mt-4">
                {% csrf_token %}
                {{form.product_id}}
                <div class="flex items-center gap-4">
                    {{form.size_id}}
                    {{form.quantity}}
                </div>
                <button type="submit" class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold mt-3 py-3 px-4 rounded-lg transition duration-300">
                    장바구니에 담기
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}